#room.container-fluid {
  overflow: scroll;
  max-height: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}
li.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#message-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message .user {
  padding-right: .5rem;
  border-radius: 0;
  border-top: 0;
}

.message .content {
  border-radius: 0;
  border-top: 0;
}
